<div class="solicitudes-procesadas">

  <!-- Título y buscador -->
  <div class="display-flex">
    <div>
      <h3>Solicitudes procesadas</h3>
  
      <!-- Divisor -->
      <div class="divider"></div>
    </div>
      
    <div class="buscador-body">
      <div class="buscador">
        <span class="icon"><i class="material-icons">search</i></span>
        <input type="search" id="search" placeholder="Buscar" [(ngModel)]="searchText" />
      </div>
    </div>
  </div>

  <!-- Filtro por fecha -->
  <div class="filtrar-fechas">
    <a class="waves-effect waves-light btn blue" (click)="toggleInfo()">
      <i class="material-icons right">filter_list</i>
      Filtrar
    </a>
  </div>

  <!-- Calendario -->  
  <mat-form-field appearance="fill" class="filtrar-fechas" *ngIf="showInfo">
    <mat-label>Rango de tiempo</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="inicio" placeholder="inicio">
      <input matEndDate formControlName="fin" placeholder="fin">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <mat-error *ngIf="range.controls.inicio.hasError('matinicioDateInvalid')">Fecha de inicio invalida</mat-error>
    <mat-error *ngIf="range.controls.fin.hasError('matfinDateInvalid')">Fecha final invalida</mat-error>
  </mat-form-field>

  <!-- Descargar -->
  <div class="filtrar-fechas" *ngIf="showInfo">
    <a class="waves-effect waves-light btn red" (click)="descargar()">
      <i class="material-icons right">file_download</i>
      Descargar
    </a>
  </div>
  
  <!-- Tabla de usuarios -->
  <table responsive-table *ngIf="showTable">
    <thead>
      <tr class="white-text">
        <th>Evento</th>
        <th class="display-none1">Segmento de red</th>
        <th class="display-none1">Estado</th>
        <th class="display-none1">Fecha</th>
        <th class="display-none1">Hora</th>
        <th class="button-width"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredSolicitudes.reverse(); let i = index">
        <td>{{ item.evento }}</td>
        <td class="display-none1">{{ item.red }}</td>
        <td class="display-none1">{{ item.estado }}</td>
        <td class="display-none1">{{ item.fecha | date:'dd/MM/yyyy' }}</td>
        <td class="display-none1">{{ item.hora }}</td>
        <td class="button-width">
          <a class="waves-effect btn-small info" [routerLink]="['/dashboard-admin/detalles', item.id ]">
            <i class="material-icons">
              feed
            </i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>  

  <!-- Tabla de usuarios -->
  <table responsive-table *ngIf="!showTable">
    <thead>
      <tr class="white-text">
        <th>Evento</th>
        <th class="display-none1">Segmento de red</th>
        <th class="display-none1">Estado</th>
        <th class="display-none1">Fecha</th>
        <th class="display-none1">Hora</th>
        <th class="button-width"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filtrarPorFechas; let i = index">
        <td>{{ item.evento }}</td>
        <td class="display-none1">{{ item.red }}</td>
        <td class="display-none1">{{ item.estado }}</td>
        <td class="display-none1">{{ item.fecha | date:'dd/MM/yyyy' }}</td>
        <td class="display-none1">{{ item.hora }}</td>
        <td class="button-width">
          <a class="waves-effect btn-small info" [routerLink]="['/dashboard-admin/detalles', item.id ]">
            <i class="material-icons">
              feed
            </i>
          </a>
        </td>
      </tr>
    </tbody>
  </table> 
</div>