<div class="gestion-usuario">

  <!-- Título y buscador -->
  <div class="display-flex">
    <div>
      <h3>Gestión de usuarios</h3>

      <!-- Divisor -->
      <div class="divider"></div>
    </div>

    <div class="buscador-body">
      <div class="buscador">
        <span class="icon"><i class="material-icons">search</i></span>
        <input type="search" id="search" placeholder="Buscar" [(ngModel)]="searchText" />
      </div>
    </div>
  </div>

  <!-- Tabla de usuarios -->
  <table responsive-table>
    <thead>
      <tr class="white-text">
        <th>#</th>
        <th>Nombre y apellido</th>
        <th class="display-none1">Usuario</th>
        <th class="display-none1">Rol</th>
        <th class="button-width"></th>
        <th class="button-width"></th>
        <th class="button-width"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers; let i = index">
        <td *ngIf="user.nombre != '' || user.apellido != '' || user.usuario != ''">
          {{ i + 1 }}
        </td>
        <td *ngIf="user.nombre != '' || user.apellido != '' || user.usuario != ''">
          {{ user.nombre + ' ' + user.apellido | titlecase }}
        </td>
        <td *ngIf="user.nombre != '' || user.apellido != '' || user.usuario != ''" class="display-none1">
          {{ user.usuario }}
        </td>
        <td *ngIf="user.nombre != '' || user.apellido != '' || user.usuario != ''" class="display-none1">
          {{ user.rol | titlecase }}
        </td>
        <td *ngIf="user.nombre != '' || user.apellido != '' || user.usuario != ''" class="button-width">
          <a class="waves-effect btn-small info" [routerLink]="['/dashboard-admin/detalles-usuario', user.id ]">
            <i class="material-icons">
              feed
            </i>
          </a>
        </td>
        <td *ngIf="user.nombre != '' || user.apellido != '' || user.usuario != ''" class="button-width">
          <a class="waves-effect btn-small blue" [routerLink]="['/dashboard-admin/editar-usuario', user.id ]">
            <i class="material-icons">
              edit
            </i>
          </a>
        </td>
        <td *ngIf="user.nombre != '' || user.apellido != '' || user.usuario != ''" class="button-width">
          <a class="waves-effect btn-small red" (click)="eliminar( user.id )">
            <i class="material-icons">
              delete
            </i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botones inferiores -->
  <div class="add-button">
    <a class="waves-effect waves-light btn-small green" (click)="agregarUsuario()">
      <i class="material-icons right">
        add_circle_outline
      </i>
      Agregar usuario
    </a>
  </div>
</div>