<div class="gestion-usuario">

  <!-- Título y buscador -->
  <div class="display-flex">
    <div>
      <h3>Solicitudes</h3>

      <!-- Divisor -->
      <div class="divider"></div>
    </div>

    <div class="buscador-body">
      <div class="buscador">
        <span class="icon"><i class="material-icons">search</i></span>
        <input type="search" id="search" placeholder="Buscar" [(ngModel)]="searchText" />
      </div>
    </div>
  </div>

  <!-- Tabla de usuarios -->
  <table responsive-table>
    <thead>
      <tr class="white-text">
        <th>Evento</th>
        <th class="display-none1">Segmento de red</th>
        <th class="display-none1">Líder</th>
        <th class="display-none1">Fecha</th>
        <th class="button-width"></th>
        <th class="button-width"></th>
        <th class="button-width"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredUsers; let i = index">
        <td>{{ item.event }}</td>
        <td class="display-none1">{{ item.red }}</td>
        <td class="display-none1">{{ item.lider }}</td>
        <td class="display-none1">{{ item.date }}</td>
        <td class="button-width">
          <a class="waves-effect btn-small info">
            <i class="material-icons">
              feed
            </i>
          </a>
        </td>
        <td class="button-width">
          <a class="waves-effect btn-small blue">
            <i class="material-icons">
              edit
            </i>
          </a>
        </td>
        <td class="button-width">
          <a class="waves-effect btn-small red">
            <i class="material-icons">
              delete
            </i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>