<div class="atender-solicitud">

  <!-- Título -->
  <h3>Detalles de solicitud</h3>

  <div class="formulario">
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <!-- Información de la solicitud recibida -->
      <h5 class="text-left">Información</h5>
      <div class="informacion">
        <h6>Evento</h6>
        <p>{{ solicitud.evento | titlecase }}</p>
        <div class="divider-line"></div>

        <h6>Nivel</h6>
        <p>{{ solicitud.nivel | titlecase }}</p>
        <div class="divider-line"></div>
        
        <h6>Segmento de red</h6>
        <p>{{ solicitud.red | uppercase }}</p>
        <div class="divider-line"></div>

        <h6>Nodo</h6>
        <p>{{ solicitud.nombreNodo | titlecase }}</p>
        <div class="divider-line"></div>

        <h6>Unidad</h6>
        <p>{{ solicitud.unidad | titlecase }}</p>
        <div class="divider-line"></div>
        
        <h6>Personal</h6>
        <div class="display-flex info-personal">
          <div class="personal">
            <h6>Líder</h6>
             <p>{{ solicitud.lider | titlecase }}</p>
          </div>
          <div class="personal">
            <h6>Ayudante</h6>
             <p>{{ solicitud.ayudante | titlecase }}</p>
          </div>
        </div>
        <div class="divider-line"></div>

        <h6>Descripción de la solicitud</h6>
        <p>{{ solicitud.detalles }}</p>
      </div>
      
      <!-- Archivos -->
      <h5 class="text-left">Cargar archivos solicitados</h5>
      <div class="file-field input-field">
        <div class="btn blue">
          <span>Subir archivos</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input 
            class="file-path validate" 
            type="text" 
            placeholder="Cargar uno o más archivos"
            formControlName="archivo"
          >
        </div>
      </div>

      <!-- Descripción -->
      <h5 class="text-left">Observaciones</h5>
      <div class="row textarea">
        <div class="input-field col s12">
          <textarea formControlName="observaciones" class="materialize-textarea"></textarea>
          <label for="textarea1">Aportar observaciones</label>
        </div>
      </div>
      
      <button 
        class="btn waves-effect waves-light blue text-right" 
        type="submit"
        [disabled]="formulario.invalid"
      >
        Enviar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>