<div class="recuperar-contrasena">
  <h4>Ingrese la nueva contraseña</h4>

  <form [formGroup]="formulario" (ngSubmit)="guardar()">
    <div class="input-field">
      <input 
        type="text" 
        formControlName="password"
      >
      <label>Contraseña</label>
      <span *ngIf="campoNoValido('password')">
        Minimo 8 caracteres.
      </span>
    </div>

    <button 
      class="btn waves-effect waves-light blue text-right" 
      type="submit"
      [disabled]="formulario.invalid"
    >
      Guardar
      <i class="material-icons right">save</i>
    </button>
  </form>
</div>