<div class="agregar-usuario">

  <!-- Título -->
  <h3>Nuevo usuario</h3>

  <div class="formulario">
    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      
      <!-- Nombre y apellido -->
      <div class="display-flex">
        <div class="w-50">
          <h5>Nombre</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="nombre"
            >
            <label>Nombre</label>
            <span class="mensaje" *ngIf="campoEsValido('nombre')">Complete este campo</span>
          </div>
        </div>
        <div class="w-50">
          <h5>Apellido</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="apellido"
            >
            <label>Apellido</label>
            <span class="mensaje" *ngIf="campoEsValido('apellido')">Complete este campo</span>
          </div>
        </div>
      </div>

      <!-- Correo y usuario -->
      <div class="display-flex">
        <div class="w-50">
          <h5>Correo electrónico</h5>
          <div class="input-field">
            <input 
              type="email" 
              formControlName="correo"
            >
            <label>Correo electrónico</label>
            <span class="mensaje" *ngIf="campoEsValido('correo')">Formato incorrecto</span>
          </div>
        </div>
        <div class="w-50">
          <h5>Usuario</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="usuario"
            >
            <label>Usuario</label>
            <span class="mensaje" *ngIf="campoEsValido('usuario')">Formato incorrecto</span>
          </div>
        </div>
      </div>

      <!-- Contraseña y rol -->
      <div class="display-flex">
        <div class="w-50">
          <h5>Contraseña</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="clave"
            >
            <label>Contraseña</label>
            <span class="mensaje" *ngIf="campoEsValido('clave')">Al menos 8 caracteres</span>
          </div>
        </div>
        <div class="w-50">
          <mat-form-field appearance="fill">
            <mat-label>Seleccionar rol</mat-label>
            <mat-select formControlName="rol">
              <mat-option *ngFor="let nodo of rol" [value]="nodo.name">
                {{ nodo.name | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <button 
        class="btn waves-effect waves-light blue text-right guardar" 
        type="submit"
        [disabled]="formulario.invalid"
      >
        Guardar cambios
        <i class="material-icons right">save</i>
      </button>
    </form>
  </div>
</div>