<div class="gestion-usuario">
  <div class="background-image display-flex">
    <div class="body">
      <div class="form-background">
        <img src="../../../../assets/img/logos/logo-sin-fondo.png">
        <h3>GeoTech</h3>
        <!-- Formulario de inicio de sesión -->
        <div class="display-flex">
          <h4>Gestión de Usuario</h4>
          <mat-icon matTooltip="Introduce el correo electrónico para buscar tu cuenta y recuperar la contraseña.">
            info
          </mat-icon>
        </div>
        <form>
          <div class="input-field">
            <input type="email" class="white-text">
            <label class="white-text">Correo electrónico</label>
          </div>
          <button mat-raised-button>Buscar</button>
        </form>
      </div>
    </div>
  </div>
</div>