<div class="editar-usuario">

  <!-- Título -->
  <h3>Perfil de usuario</h3>

  <div class="formulario">
    <form [formGroup]="formulario" (ngSubmit)="actualizar()">
      
      <!-- Nombre y apellido -->
      <div class="display-flex">
        <div class="w-50">
          <h5>Nombre</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="nombre"
            >
            <label>{{ usuario.nombre | titlecase }}</label>
          </div>
        </div>
        <div class="w-50">
          <h5>Apellido</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="apellido"
            >
            <label>{{ usuario.apellido | titlecase }}</label>
          </div>
        </div>
      </div>

      <!-- Correo y usuario -->
      <div class="display-flex">
        <div class="w-50">
          <h5>Correo electrónico</h5>
          <div class="input-field">
            <input 
              type="email" 
              formControlName="correo"
            >
            <label>{{ usuario.correo }}</label>
          </div>
        </div>
        <div class="w-50">
          <h5>Usuario</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="usuario"
            >
            <label>{{ usuario.usuario | lowercase }}</label>
          </div>
        </div>
      </div>

      <!-- Contraseña y rol -->
      <div class="display-flex">
        <div class="w-50">
          <h5>Contraseña</h5>
          <div class="input-field">
            <input 
              type="text" 
              formControlName="clave"
            >
            <label>{{ usuario.clave }}</label>
          </div>
        </div>
        <div class="w-50">
          <mat-form-field appearance="fill">
            <mat-label>Seleccionar rol</mat-label>
            <mat-select formControlName="rol">
              <mat-option *ngFor="let rol of rol" [value]="rol.name">
                {{ rol.name | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <button 
        class="btn waves-effect waves-light blue text-right guardar" 
        type="submit"
      >
        Guardar cambios
        <i class="material-icons right">save</i>
      </button>
    </form>
  </div>
</div>