<div class="editar-solicitud">

  <!-- Título -->
  <h3>Editar solicitud</h3>

  <div class="formulario">
    <form>
      <!-- Información de la solicitud recibida -->
      <h5 class="text-left">Información</h5>
      <div class="informacion">
        <h6>Evento</h6>
        <p>Evento</p>
        <div class="divider-line"></div>

        <h6>Nivel</h6>
        <p>Secundario</p>
        <div class="divider-line"></div>
        
        <h6>Segmento de red</h6>
        <p>red talcosa</p>
        <div class="divider-line"></div>

        <h6>Nodo</h6>
        <p>Florida</p>
        <div class="divider-line"></div>

        <h6>Unidad</h6>
        <p>Nombre de la unidad</p>
        <div class="divider-line"></div>
        
        <h6>Personal</h6>
        <div class="display-flex info-personal">
          <div class="personal">
            <h6>Líder</h6>
             <p>Nombre del Líder</p>
          </div>
          <div class="personal">
            <h6>Ayudante</h6>
             <p>Nombre del ayudante</p>
          </div>
        </div>
        <div class="divider-line"></div>

        <h6>Fecha</h6>
        <p>16-03-2023</p>
        <div class="divider-line"></div>

        <h6>Descripción de la solicitud</h6>
        <p>Aqui se describe lo que se necesita en cuanto a documentos o alguna otra cosa</p>
      </div>
      
      <!-- Archivos -->
      <h5 class="text-left">Cargar archivos solicitados</h5>
      <div class="file-field input-field">
        <div class="btn blue">
          <span>Subir archivos</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Nombre de los archivos ya agregados">
        </div>
      </div>

      <!-- Descripción -->
      <h5 class="text-left">Observaciones</h5>
      <div class="row textarea">
        <div class="input-field col s12">
          <textarea class="materialize-textarea"></textarea>
          <label for="textarea1">Observaciones hechas</label>
        </div>
      </div>
      
      <button class="btn waves-effect waves-light blue text-right" type="submit">Enviar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>